<a href="https://colab.research.google.com/github/Praewphat/BasicProg_DataViz65/blob/main/Part1_Clean_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Data

In [ ]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/drive') #ตรงนี้

Mounted at /content/drive

In [ ]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/My Drive/dataviz_2022/Project') #ตรงนี้
!pwd

/content/drive/My Drive/dataviz_2022/Project

In [ ]:
ls

data_eating_clean.csv      opendata_living_score.csv
data_living_clean.csv      opendata_median_price.csv
data_med_clean.csv         opendata_median_price_rent.csv
data_nbh_clean.csv         opendata_neighborhood.csv
data_project_clean.csv     opendata_neighborhood.gsheet
data_rent_clean.csv        opendata_project.csv
data_sub_bkk_clean.csv     opendata_province.csv
data_trainl_clean.csv      opendata_subdistrict.csv
data_trains_clean.csv      opendata_train_line.csv
data_unittype_clean.csv    opendata_train_station.csv
opendata_eating_score.csv  opendata_unittype.csv

## Import CSV File

In [ ]:
#open CSV file 
import pandas as pd

###รายละเอียดที่อยู่อาศัย

In [ ]:
#ข้อมูลรายละเอียดโครงการที่อยู่อาศัยประเภท จัดสรร ผู้พัฒนา พื้นที่โครงการ และสิ่งอำนวนความสะดวก ของประเทศไทย จากการรวบรวมโดย บาเนีย
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,2022-09-30
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,2022-09-30

In [ ]:
#ข้อมูลรายละเอียดแบบบ้านในโครงการที่อยู่อาศัยประเภท จัดสรร จากการรวบรวมโดย บาเนีย หมายเหตุ ต้องใช้ร่วมกับข้อมูล -> "Residental Project Data"
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/ไลฟ์-รัชดาภิเษก-...,2022-09-30
1,34437,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/ธนาโฮม-อุดรธานี-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/ธนพล-คอนโดมิเนีย...,2022-09-30

In [ ]:
#ข้อมูลคะแนนการกินของพื้นที่ต่างๆ ซึ่งวิเคราะห์จากปัจจัยด้านราคา ด้านคุณภาพร้าน/บริการ และด้านความหลากหลายของอาหารในพื้นที่ โดยจะแบ่งการวิเคราะห์ออกเป็น การกินช่วงเช้า กับ การกินช่วงค่ำ 
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30

In [ ]:
#ข้อมูลคะแนนการเดินทางเข้าถึงสถานที่ใช้ชีวิตประจำวันของพื้นที่ต่างๆ โดยคำนวณจาก 3 รูปแบบการเดินทาง และ 5 ประเภทของสถานที่เป้าหมายเพื่อการดำเนินชีวิตในแต่ละวัน
opendata_living_score = pd.read_csv('opendata_living_score.csv') 
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

###รถไฟ

In [ ]:
#ข้อมูลสถานีรถไฟฟ้า ทั้งที่เปิดใช้บริการแล้ว และอยู่ในขั้นตอนของแผนการพัฒนา
opendata_train_station = pd.read_csv('opendata_train_station.csv')
print(opendata_train_station.shape) # shown nomber of (row, column)
opendata_train_station.head(3)

(318, 20)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,286,254,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีแบริ่ง,Si Bearing,13.644190,100.636665,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,2022-09-30
1,265,130,4,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีม่วง,Purple Line,ตลาดบางใหญ่,Talad Bang Yai,13.881849,100.409349,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บางรักพัฒนา,BANG RAK PHATTHANA,2022-09-30
2,18,110,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,บางแค,Bang Khae,13.711927,100.421581,กรุงเทพมหานคร,BANGKOK,บางแค,BANG KHAE,บางแค,BANG KHAE,2022-09-30

In [ ]:
#ข้อมูลพื้นที่การเดินทางรถไฟฟ้า ทั้งที่เปิดใช้บริการแล้ว และอยู่ในขั้นตอนของแผนการพัฒนา
opendata_train_line= pd.read_csv('opendata_train_line.csv') #time series data
print(opendata_train_line.shape) # shown nomber of (row, column)
opendata_train_line.head(5)

(49, 6)

,row_number,name,area,status,geometry,day
0,48,สายสีทอง,กรุงธนบุรี-คลองสาน,ปัจจุบัน,LINESTRING (100.5060790059059 13.7309854049225...,2022-09-30
1,6,สายสีชมพู,เเคราย - ปากเกร็ด,อนาคต,"LINESTRING (100.506494 13.90727400000014, 100....",2022-09-30
2,8,สายสีเทา,พระราม4 - ท่าพระ,อนาคต,LINESTRING (100.5593780000002 13.7200730000001...,2022-09-30
3,27,สายสีเทา,ฉลองรัช - พระราม4,อนาคต,"LINESTRING (100.559372 13.72007400000007, 100....",2022-09-30
4,34,สายสีเขียวเข้ม,แยกเกษตร-หมอชิต,ปัจจุบัน,LINESTRING (100.5769970000001 13.8420910000000...,2022-09-30

###พื้นที่

In [ ]:
#ข้อมูลขอบเขตพื้นที่ ตำบล/แขวง
opendata_sub = pd.read_csv('opendata_subdistrict.csv') #time series data
print(opendata_sub.shape) # shown nomber of (row, column)
opendata_sub.head(5)

(7436, 15)

,row_number,b_subdistrict_id,b_subdistrict_code,b_subdistrict_name_en,b_subdistrict_name_th,b_district_id,b_district_code,b_district_name_en,b_district_name_th,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,geometry,day
0,4735,1231,1,OMKOI,อมก๋อย,1225,18,OMKOI,อมก๋อย,1005,50,CHIANG MAI,เชียงใหม่,MULTIPOLYGON(((98.4261679222856 17.98592682706...,2022-09-30
1,3264,7331,10,THA RAENG OK,ท่าแร้งออก,7323,7,BAN LAEM,บ้านแหลม,7226,76,PHETCHABURI,เพชรบุรี,MULTIPOLYGON(((99.9968115375649 13.16963531247...,2022-09-30
2,3376,8607,10,WANG NGOEN,วังเงิน,8599,10,MAE THA,แม่ทะ,8534,52,LAMPANG,ลำปาง,MULTIPOLYGON(((99.6917825876496 18.05671200312...,2022-09-30
3,6595,5239,6,BANG O,บางอ้อ,5235,3,BAN NA,บ้านนา,5220,26,NAKHON NAYOK,นครนายก,MULTIPOLYGON(((101.112381661159 14.20228375165...,2022-09-30
4,3353,2459,12,SI DON CHAI,ศรีดอนไชย,2452,4,THOENG,เทิง,2411,57,CHIANG RAI,เชียงราย,MULTIPOLYGON(((100.09915691907 19.635794630482...,2022-09-30

In [ ]:
#ข้อมูลขอบเขตพื้นที่ ย่าน (ขนาดเล็กกว่าตำบล)ของกทม และ ปริมณฑล โดยข้อมูลย่านเกิดจากการลงสำรวจผู้บริโภคว่ามีความเข้าใจว่าย่านต่างๆ นั้นมีจุดศูนย์กลาง (centroid) ขอบเขต (boundary) เป็นอย่างไร
opendata_nbh = pd.read_csv('opendata_neighborhood.csv')
print(opendata_nbh.shape) # shown nomber of (row, column)
opendata_nbh.head(10)

(1189, 6)

,row_number,nbh_id,nbh_name_en,nbh_name_th,geometry,day
0,182.0,B0682,KHU BANG LUANG,คูบางหลวง,"MULTIPOLYGON(((100.483645468 14.0672195970001,...",2022-09-30
1,450.0,B1151,CHINNAKHET,ชินเขต,"MULTIPOLYGON(((100.576418334 13.8750879940001,...",2022-09-30
2,774.0,B0688,RATNIYOM,ราษฎร์นิยม,"MULTIPOLYGON(((100.395318182 14.1150631530001,...",2022-09-30
3,33.0,B0954,KHAOCHAMAO,เขาชะเมา,"MULTIPOLYGON(((101.652283918 13.160273911,101....",2022-09-30
4,818.0,B1013,MAITRICHIT,ไมตรีจิต,"MULTIPOLYGON(((100.810394 13.8923706,100.81005...",2022-09-30
5,679.0,B0937,HEMARAJ RAYONG INDUSTRIAL ESTATE,นิคมเหมราชระยอง,"MULTIPOLYGON(((101.262867425 12.800193001,101....",2022-09-30
6,127.0,B0308,KHLONGSONGNAM 2,คลองส่งน้ำ2,"MULTIPOLYGON(((102.032141738 14.9118821910001,...",2022-09-30
7,815.0,B0519,RAT BAMRUNG,ราษฎร์บำรุง,"MULTIPOLYGON(((101.262665082 12.6781927010001,...",2022-09-30
8,1083.0,B1198,THA TIAN,ท่าเตียน,"MULTIPOLYGON(((100.493471633 13.7435925500001,...",2022-09-30
9,8.0,B0216,NON THON,โนนท่อน,"MULTIPOLYGON(((102.841585067 16.634760989,102....",2022-09-30

###ราคาเช่า

In [ ]:
#ราคาประกาศเช่าที่อยู่อาศัยประเภท จัดสรร ราคาแสดงแบบค่ากลาง (median price) แยกตามประเภทอสังหาริมทรัพย์ในพื้นที่ 
opendata_med_rent = pd.read_csv('opendata_median_price_rent.csv') #time series data
print(opendata_med_rent.shape) # shown nomber of (row, column)
opendata_med_rent.head(5)

(1923, 12)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_rent_price_sqm,day
0,1184,2021,8,กรุงเทพมหานคร,BANGKOK,คลองเตย,KHLONG TOEI,คอนโด,Condo,2781,589,2022-09-30
1,815,2020,2,กรุงเทพมหานคร,BANGKOK,ห้วยขวาง,HUAI KHWANG,คอนโด,Condo,268,457,2022-09-30
2,1282,2021,12,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,435,269,2022-09-30
3,43,2021,9,สมุทรปราการ,SAMUT PRAKAN,บางเสาธง,BANG SAO THONG,คอนโด,Condo,15,281,2022-09-30
4,1454,2019,7,กรุงเทพมหานคร,BANGKOK,วัฒนา,VADHANA,คอนโด,Condo,511,663,2022-09-30

In [ ]:
opendata_med = pd.read_csv('opendata_median_price.csv') #time series data
print(opendata_med.shape) # shown nomber of (row, column)
opendata_med.head(3)

(2212, 12)

,row_number,transction_year,transction_month,listing_province_name_en,listing_province_name_th,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_asking_price_sqm,day
0,2188,2021,11,PATHUM THANI,ปทุมธานี,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,21,25874,2022-09-30
1,521,2019,12,BANGKOK,กรุงเทพมหานคร,จตุจักร,CHATUCHAK,คอนโด,Condo,122,78866,2022-09-30
2,245,2020,1,BANGKOK,กรุงเทพมหานคร,บางขุนเทียน,BANG KHUN THIAN,คอนโด,Condo,12,46656,2022-09-30

#Clean Data

## Clean Data Sub ข้อมูลขอบเขตพื้นที่ ตำบล/แขวง ที่เกี่ยวกับ กทม ก่อน

In [ ]:
opendata_sub.head(5)

,row_number,b_subdistrict_id,b_subdistrict_code,b_subdistrict_name_en,b_subdistrict_name_th,b_district_id,b_district_code,b_district_name_en,b_district_name_th,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,geometry,day
0,4735,1231,1,OMKOI,อมก๋อย,1225,18,OMKOI,อมก๋อย,1005,50,CHIANG MAI,เชียงใหม่,MULTIPOLYGON(((98.4261679222856 17.98592682706...,2022-09-30
1,3264,7331,10,THA RAENG OK,ท่าแร้งออก,7323,7,BAN LAEM,บ้านแหลม,7226,76,PHETCHABURI,เพชรบุรี,MULTIPOLYGON(((99.9968115375649 13.16963531247...,2022-09-30
2,3376,8607,10,WANG NGOEN,วังเงิน,8599,10,MAE THA,แม่ทะ,8534,52,LAMPANG,ลำปาง,MULTIPOLYGON(((99.6917825876496 18.05671200312...,2022-09-30
3,6595,5239,6,BANG O,บางอ้อ,5235,3,BAN NA,บ้านนา,5220,26,NAKHON NAYOK,นครนายก,MULTIPOLYGON(((101.112381661159 14.20228375165...,2022-09-30
4,3353,2459,12,SI DON CHAI,ศรีดอนไชย,2452,4,THOENG,เทิง,2411,57,CHIANG RAI,เชียงราย,MULTIPOLYGON(((100.09915691907 19.635794630482...,2022-09-30

In [ ]:
opendata_sub[['b_prov_name_th']]

     b_prov_name_th
0         เชียงใหม่
1          เพชรบุรี
2             ลำปาง
3           นครนายก
4          เชียงราย
...             ...
7431       เพชรบุรี
7432     ฉะเชิงเทรา
7433     นครราชสีมา
7434      บุรีรัมย์
7435         ภูเก็ต

[7436 rows x 1 columns]

In [ ]:
opendata_sub[opendata_sub['b_prov_name_th']=='นนทบุรี'].head()

,row_number,b_subdistrict_id,b_subdistrict_code,b_subdistrict_name_en,b_subdistrict_name_th,b_district_id,b_district_code,b_district_name_en,b_district_name_th,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,geometry,day
63,7208,3378,8,BANG KRANG,บางกร่าง,3373,1,MUEANG NONTHABURI,เมืองนนทบุรี,3372,12,NONTHABURI,นนทบุรี,MULTIPOLYGON(((100.462262420762 13.84937859460...,2022-09-30
736,1717,3393,2,BANG KRUAI,บางกรวย,3392,2,BANG KRUAI,บางกรวย,3372,12,NONTHABURI,นนทบุรี,MULTIPOLYGON(((100.507451464959 13.81610608428...,2022-09-30
758,4314,3412,1,BANG MUANG,บางม่วง,3411,3,BANG YAI,บางใหญ่,3372,12,NONTHABURI,นนทบุรี,MULTIPOLYGON(((100.424369110366 13.85223771484...,2022-09-30
946,5606,3426,11,BANG PHLAP,บางพลับ,3418,6,PAK KRET,ปากเกร็ด,3372,12,NONTHABURI,นนทบุรี,MULTIPOLYGON(((100.466319868572 13.93309775095...,2022-09-30
1262,5498,3415,5,BANG YAI,บางใหญ่,3411,3,BANG YAI,บางใหญ่,3372,12,NONTHABURI,นนทบุรี,MULTIPOLYGON(((100.394919672363 13.84832002226...,2022-09-30

In [ ]:
#opendata_sub[opendata_sub['b_prov_name_th']=='กรุงเทพมหานคร','นนทบุรี','นครปฐม','ปทุมธานี','สมุทรปราการ','สมุทรสาคร'] #ดึงมาเฉพาะข้อมูลจังหวัด กทม

In [ ]:
data_sub_bkk = opendata_sub[opendata_sub['b_prov_name_th']=='กรุงเทพมหานคร']
data_sub_bkk.head(5)

,row_number,b_subdistrict_id,b_subdistrict_code,b_subdistrict_name_en,b_subdistrict_name_th,b_district_id,b_district_code,b_district_name_en,b_district_name_th,b_prov_id,b_prov_code,b_prov_name_en,b_prov_name_th,geometry,day
22,4442,3945,1,THUNG PHAYA THAI,ทุ่งพญาไท,3942,37,RATCHATHEWI,ราชเทวี,3781,10,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.53898580369 13.766013503288...,2022-09-30
45,5812,3825,4,SI YAEK MAHANAK,สี่แยกมหานาค,3817,2,DUSIT,ดุสิต,3781,10,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.520919124022 13.75711369507...,2022-09-30
85,6862,3931,6,BANG CHAK,บางจาก,3928,22,PHASI CHAROEN,ภาษีเจริญ,3781,10,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.454866097475 13.72343720048...,2022-09-30
162,4113,3812,4,DON MUEANG,ดอนเมือง,3811,36,DON MUEANG,ดอนเมือง,3781,10,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.60241085159 13.922597560863...,2022-09-30
175,970,3944,3,THANON PHET BURI,ถนนเพชรบุรี,3942,37,RATCHATHEWI,ราชเทวี,3781,10,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.531799278137 13.75323717679...,2022-09-30

### Select Columns

In [ ]:
data_sub_bkk.columns

Index(['row_number', 'b_subdistrict_id', 'b_subdistrict_code',
       'b_subdistrict_name_en', 'b_subdistrict_name_th', 'b_district_id',
       'b_district_code', 'b_district_name_en', 'b_district_name_th',
       'b_prov_id', 'b_prov_code', 'b_prov_name_en', 'b_prov_name_th',
       'geometry', 'day'],
      dtype='object')

In [ ]:
data_sub_bkk = data_sub_bkk[['row_number', 'b_subdistrict_id',
       'b_subdistrict_name_th', 'b_district_id','b_district_name_th',
       'b_prov_id', 'b_prov_name_en', 'b_prov_name_th',
       'geometry']]
data_sub_bkk.head(5)

,row_number,b_subdistrict_id,b_subdistrict_name_th,b_district_id,b_district_name_th,b_prov_id,b_prov_name_en,b_prov_name_th,geometry
22,4442,3945,ทุ่งพญาไท,3942,ราชเทวี,3781,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.53898580369 13.766013503288...
45,5812,3825,สี่แยกมหานาค,3817,ดุสิต,3781,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.520919124022 13.75711369507...
85,6862,3931,บางจาก,3928,ภาษีเจริญ,3781,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.454866097475 13.72343720048...
162,4113,3812,ดอนเมือง,3811,ดอนเมือง,3781,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.60241085159 13.922597560863...
175,970,3944,ถนนเพชรบุรี,3942,ราชเทวี,3781,BANGKOK,กรุงเทพมหานคร,MULTIPOLYGON(((100.531799278137 13.75323717679...

### Missing/Null Checking

In [ ]:
data_sub_bkk.isnull().any() #False ไม่มีค่าว่าง True มีค่าว่าง

row_number               False
b_subdistrict_id         False
b_subdistrict_name_th    False
b_district_id            False
b_district_name_th       False
b_prov_id                False
b_prov_name_en           False
b_prov_name_th           False
geometry                 False
dtype: bool

In [ ]:
data_sub_bkk.dtypes

row_number                int64
b_subdistrict_id          int64
b_subdistrict_name_th    object
b_district_id             int64
b_district_name_th       object
b_prov_id                 int64
b_prov_name_en           object
b_prov_name_th           object
geometry                 object
dtype: object

In [ ]:
#Save Data
data_sub_bkk.to_csv('data_sub_bkk_clean.csv', index=False)

## Clean Data Neigborhood ข้อมูลย่าน กทม และ ปริมณฑล

In [ ]:
opendata_nbh[['nbh_name_th']]

     nbh_name_th
0      คูบางหลวง
1         ชินเขต
2     ราษฎร์นิยม
3       เขาชะเมา
4       ไมตรีจิต
...          ...
1184      ป่าตัน
1185     เนินโมก
1186    เหม่งหุย
1187      เหมือง
1188   โครกกรวด2

[1189 rows x 1 columns]

In [ ]:
opendata_nbh.head(10)

,row_number,nbh_id,nbh_name_en,nbh_name_th,geometry,day
0,182.0,B0682,KHU BANG LUANG,คูบางหลวง,"MULTIPOLYGON(((100.483645468 14.0672195970001,...",2022-09-30
1,450.0,B1151,CHINNAKHET,ชินเขต,"MULTIPOLYGON(((100.576418334 13.8750879940001,...",2022-09-30
2,774.0,B0688,RATNIYOM,ราษฎร์นิยม,"MULTIPOLYGON(((100.395318182 14.1150631530001,...",2022-09-30
3,33.0,B0954,KHAOCHAMAO,เขาชะเมา,"MULTIPOLYGON(((101.652283918 13.160273911,101....",2022-09-30
4,818.0,B1013,MAITRICHIT,ไมตรีจิต,"MULTIPOLYGON(((100.810394 13.8923706,100.81005...",2022-09-30
5,679.0,B0937,HEMARAJ RAYONG INDUSTRIAL ESTATE,นิคมเหมราชระยอง,"MULTIPOLYGON(((101.262867425 12.800193001,101....",2022-09-30
6,127.0,B0308,KHLONGSONGNAM 2,คลองส่งน้ำ2,"MULTIPOLYGON(((102.032141738 14.9118821910001,...",2022-09-30
7,815.0,B0519,RAT BAMRUNG,ราษฎร์บำรุง,"MULTIPOLYGON(((101.262665082 12.6781927010001,...",2022-09-30
8,1083.0,B1198,THA TIAN,ท่าเตียน,"MULTIPOLYGON(((100.493471633 13.7435925500001,...",2022-09-30
9,8.0,B0216,NON THON,โนนท่อน,"MULTIPOLYGON(((102.841585067 16.634760989,102....",2022-09-30

###Select Columns

In [ ]:
opendata_nbh = opendata_nbh[['row_number', 'nbh_id', 'nbh_name_th', 'geometry']]

In [ ]:
opendata_nbh

,row_number,nbh_id,nbh_name_th,geometry
0,182.0,B0682,คูบางหลวง,"MULTIPOLYGON(((100.483645468 14.0672195970001,..."
1,450.0,B1151,ชินเขต,"MULTIPOLYGON(((100.576418334 13.8750879940001,..."
2,774.0,B0688,ราษฎร์นิยม,"MULTIPOLYGON(((100.395318182 14.1150631530001,..."
3,33.0,B0954,เขาชะเมา,"MULTIPOLYGON(((101.652283918 13.160273911,101...."
4,818.0,B1013,ไมตรีจิต,"MULTIPOLYGON(((100.810394 13.8923706,100.81005..."
...,...,...,...,...
1184,838.0,B0132,ป่าตัน,"MULTIPOLYGON(((98.990382739 18.8383971000001,9..."
1185,809.0,B0769,เนินโมก,"MULTIPOLYGON(((101.220547225 13.3342049780001,..."
1186,465.0,B0726,เหม่งหุย,"MULTIPOLYGON(((101.0024439 13.3702733000001,10..."
1187,428.0,B0703,เหมือง,"MULTIPOLYGON(((100.9744946 13.2849390000001,10..."
1188,204.0,B0316,โครกกรวด2,"MULTIPOLYGON(((101.972866465 14.9295729030001,..."

### Missing/Null Checking

In [ ]:
opendata_nbh.isnull().any() #False ไม่มีค่าว่าง True มีค่าว่าง

row_number      True
nbh_id         False
nbh_name_th     True
geometry        True
dtype: bool

In [ ]:
opendata_nbh.dtypes

row_number     float64
nbh_id          object
nbh_name_th     object
geometry        object
dtype: object

####Dropna

In [ ]:
#we used dropna()
print(len(opendata_nbh[opendata_nbh['row_number'].isnull()])) 
print(len(opendata_nbh[opendata_nbh['nbh_name_th'].isnull()]))  #ชื่อย่าน ภาษาไทย	
print(len(opendata_nbh[opendata_nbh['geometry'].isnull()]))

2
2
4

In [ ]:
print(len(opendata_nbh[opendata_nbh['row_number'].isnull()]))  #2 row is NaN
opendata_nbh[opendata_nbh['row_number'].isnull()]

2

     row_number          nbh_id nbh_name_th geometry
932         NaN  สันทรายมหาวงศ์  2022-09-30      NaN
974         NaN       ขนส่งปทุม  2022-09-30      NaN

In [ ]:
opendata_nbh = opendata_nbh.dropna(subset=['row_number'])
opendata_nbh[opendata_nbh['row_number'].isnull()] #No NaN

Empty DataFrame
Columns: [row_number, nbh_id, nbh_name_th, geometry]
Index: []

In [ ]:
print(len(opendata_nbh[opendata_nbh['nbh_name_th'].isnull()])) #2 row is Nan
opendata_nbh[opendata_nbh['nbh_name_th'].isnull()] # Show row NaN

2

     row_number nbh_id nbh_name_th geometry
931       316.0  B0066         NaN      NaN
973       483.0  B0983         NaN      NaN

In [ ]:
opendata_nbh = opendata_nbh.dropna(subset=['nbh_name_th'])
opendata_nbh[opendata_nbh['nbh_name_th'].isnull()] #No row NaN

Empty DataFrame
Columns: [row_number, nbh_id, nbh_name_th, geometry]
Index: []

In [ ]:
opendata_nbh = opendata_nbh.dropna(subset=['nbh_id'])
opendata_nbh[opendata_nbh['nbh_id'].isnull()] #No row NaN

Empty DataFrame
Columns: [row_number, nbh_id, nbh_name_th, geometry]
Index: []

In [ ]:
print(len(opendata_nbh[opendata_nbh['geometry'].isnull()])) #Geometry Nan because we dropna columns before

0

In [ ]:
opendata_nbh.isnull().any() #False ไม่มีค่าว่าง True มีค่าว่าง2

row_number     False
nbh_id         False
nbh_name_th    False
geometry       False
dtype: bool

In [ ]:
# Save data
opendata_nbh.to_csv('data_nbh_clean.csv', index=False)

##Clean Data รายละเอียดที่อยู่

In [ ]:
opendata_project.head(3)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,2022-09-30
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,2022-09-30

In [ ]:
len(set(opendata_project['province_id']))

83

###Select Columns

In [ ]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security'],
      dtype='object')

In [ ]:
opendata_project = opendata_project[['row_number', 'project_id', 'name_th','propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude',
       'longitude', 'neighborhood_id','neighborhood_name_th','subdistrict_id',
       'subdistrict_name_th', 'district_id','district_name_th','province_name_th','province_id','zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

### Missing/Null Checking

In [ ]:
opendata_project.isnull().any()#False ไม่มีค่าว่าง True มีค่าว่าง

row_number                 True
project_id                False
name_th                   False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_th        True
district_id                True
district_name_th           True
province_name_th           True
province_id                True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

####Dropna

In [ ]:
# ' price_min ' ราคาต่ำสุดโครงการ
print(len(opendata_project[opendata_project['price_min'].isnull()])) #มี row NaN 109 row 
opendata_project = opendata_project.dropna(subset=['price_min'])#we used dropna()

109

In [ ]:
# ' longitude '
print(len(opendata_project[opendata_project['longitude'].isnull()])) #มี row NaN 109 row

6

In [ ]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [ ]:
# 'subdistrict_id' รหัสตำบล
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

16

In [ ]:
# 'zipcode' รหัสไปรษณีย์
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

28

In [ ]:
len(set(opendata_project['province_id']))

72

####  Fill Null with real world Knownlege

In [ ]:
#fill NA with Text
opendata_project['neighborhood_name_th'] = opendata_project['neighborhood_name_th'].fillna('Unknown') #ชื่อย่าน แทนค่า Na ด้วย unknow

In [ ]:
#fill NA with Text
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #รหัสย่าน  #แทนค่า Na ด้วย unknow

In [ ]:
# จำนวนลิฟต์และชั้น
opendata_project[['count_floor', 'count_unit','count_unittype','count_tower']]  = opendata_project[['count_floor', 'count_unit','count_unittype','count_tower']].fillna(1) #จำนวนชั้นของตัวโครงการ, จำนวนยูนิตในโครงการ, จำนวนแบบ้านในโครงการ , แทนค่า na ด้วย 1
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0)
# สิ่งอำนวยความสะดวก
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [ ]:
opendata_project.isnull().any()

row_number                False
project_id                False
name_th                   False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_th       False
district_id               False
district_name_th          False
province_name_th          False
province_id               False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [ ]:
opendata_project[['neighborhood_name_th','neighborhood_id','propertytype_name_en','price_min','name_th']].sort_values(by="neighborhood_id",ascending=True)

,neighborhood_name_th,neighborhood_id,propertytype_name_en,price_min,name_th
17311,บ้านถวาย,B0001,Detached House,0.0,บ้านพรพรหมพาราไดซ์
8927,บ้านถวาย,B0001,Twin house,2000000.0,เอวริณโฮม
22406,บ้านถวาย,B0001,Detached House,0.0,บ้านสวนชัยพฤกษ์
20326,บ้านถวาย,B0001,Detached House,2950000.0,เอเรสมาวิลล่า
9525,บ้านถวาย,B0001,Townhome,850000.0,บ้านสุภารัตน์
...,...,...,...,...,...
16778,Unknown,Unknown,Detached House,2099000.0,เปี่ยมสุข โคกศิลา
16779,Unknown,Unknown,Townhome,1900000.0,บ้านเทพสตรี
20464,Unknown,Unknown,Detached House,1770000.0,ปาล์มสปริงส์ 12
9995,Unknown,Unknown,Townhome,4400000.0,เบญจพรวิลล่า
13993,Unknown,Unknown,Detached House,2490000.0,พลัสเนเจอร์โฮม มอนอ

In [ ]:
len(set(opendata_project['province_id']))

72

In [ ]:
opendata_project[['count_elevator']]

      count_elevator
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
23908            8.0
23909              0
23910              0
23911              0
23912            1.0

[23754 rows x 1 columns]

In [ ]:
#Save data
opendata_project.to_csv('data_project_clean.csv', index=False)

##Clean Data Unittype ช้อมูลรายละเอียดแบบบ้านในโครงการ

In [ ]:
opendata_unittype.head(10)

###Selecte columns

In [ ]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [ ]:
opendata_unittype = opendata_unittype[['row_number', 'unittype_id', 'project_id', 'name_th',
       'propertytype_name_en','propertytype_name_th',
       'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
#count_elevator , count_parking ซ้ำกับ project

### Missing/Null Checking

In [ ]:
opendata_unittype.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_name_en    False
propertytype_name_th    False
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

####Dropna

In [ ]:
print(len(opendata_unittype[opendata_unittype['price_min'].isnull()])) #we used dropna()
opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

7537

####Fill Null with real world Knownlege

In [ ]:
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [ ]:
# จำนวนชั้นในบ้าน
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# จำนวนห้อง, จำนวนลิฟต์, จำนวนแอร์
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [ ]:
opendata_unittype.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
price_min               False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [ ]:
opendata_unittype.to_csv('data_unittype_clean.csv', index=False)

##Clean Data Eating

In [ ]:
opendata_eating_score.head(3)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30

###Select Columns

In [ ]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security'],
      dtype='object')

In [ ]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [ ]:
opendata_eating_score = opendata_eating_score[['subdistrict_id',
       'subdistrict_name_th','district_name_th', 'province_id',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_th,district_name_th,province_id,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,1007,ช้างคลาน,เมืองเชียงใหม่,1005,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0
1,3941,บางโพงพาง,ยานนาวา,3781,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3829,ฉิมพลี,ตลิ่งชัน,3781,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0
3,3503,บางด้วน,เมืองสมุทรปราการ,3498,สมุทรปราการ,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0
4,2624,ราไวย์,เมืองภูเก็ต,2616,ภูเก็ต,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0

### Missing/Null Checking

In [ ]:
opendata_eating_score.isnull().any() # All clean

subdistrict_id              False
subdistrict_name_th         False
district_name_th            False
province_id                 False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [ ]:
#Save Data
opendata_eating_score.to_csv('data_eating_clean.csv', index=False)

##Clean Data Living

In [ ]:
opendata_living_score.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30

###Select Columns

In [ ]:
opendata_living_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [ ]:
opendata_living = opendata_living_score[['row_number', 'subdistrict_id',
       'subdistrict_name_th', 'district_id',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

###Missing/Null Checking

In [ ]:
opendata_living.isnull().any() # All Clean

row_number              False
subdistrict_id          False
subdistrict_name_th     False
district_id             False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

In [ ]:
#Save Data
opendata_living.to_csv('data_living_clean.csv', index=False)

##Clean Data Train_station

In [ ]:
opendata_train_station.head(3)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,286,254,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีแบริ่ง,Si Bearing,13.644190,100.636665,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,2022-09-30
1,265,130,4,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีม่วง,Purple Line,ตลาดบางใหญ่,Talad Bang Yai,13.881849,100.409349,นนทบุรี,NONTHABURI,บางบัวทอง,BANG BUA THONG,บางรักพัฒนา,BANG RAK PHATTHANA,2022-09-30
2,18,110,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,Blue Line,บางแค,Bang Khae,13.711927,100.421581,กรุงเทพมหานคร,BANGKOK,บางแค,BANG KHAE,บางแค,BANG KHAE,2022-09-30

###Select Columns

In [ ]:
opendata_train_station.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'line_en', 'station_th', 'station_en', 'latitude',
       'longitude', 'prov_namt', 'prov_name', 'amp_namt', 'amp_name',
       'tam_namt', 'tam_name', 'day'],
      dtype='object')

In [ ]:
data_train_station = opendata_train_station[['row_number', 'gid', 'line_no',
       'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'station_th', 'latitude','longitude', 
       'prov_namt', 'amp_namt','tam_namt']]

###Missing/Null Checking

In [ ]:
data_train_station.isnull().any() #All clean

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status        False
line_th       False
station_th    False
latitude      False
longitude     False
prov_namt     False
amp_namt      False
tam_namt      False
dtype: bool

In [ ]:
#Save Data
data_train_station.to_csv('data_trains_clean.csv', index=False)

##Clean Data Train_line

In [ ]:
opendata_train_line.head(5)

,row_number,name,area,status,geometry,day
0,48,สายสีทอง,กรุงธนบุรี-คลองสาน,ปัจจุบัน,LINESTRING (100.5060790059059 13.7309854049225...,2022-09-30
1,6,สายสีชมพู,เเคราย - ปากเกร็ด,อนาคต,"LINESTRING (100.506494 13.90727400000014, 100....",2022-09-30
2,8,สายสีเทา,พระราม4 - ท่าพระ,อนาคต,LINESTRING (100.5593780000002 13.7200730000001...,2022-09-30
3,27,สายสีเทา,ฉลองรัช - พระราม4,อนาคต,"LINESTRING (100.559372 13.72007400000007, 100....",2022-09-30
4,34,สายสีเขียวเข้ม,แยกเกษตร-หมอชิต,ปัจจุบัน,LINESTRING (100.5769970000001 13.8420910000000...,2022-09-30

###Select Columns

In [ ]:
opendata_train_line.columns

Index(['row_number', 'name', 'area', 'status', 'geometry', 'day'], dtype='object')

In [ ]:
opendata_train_line = opendata_train_line[['row_number', 'name', 'area', 'status', 'geometry']]

###Missing/Null Checking

In [ ]:
opendata_train_line.isnull().any() #All clean

row_number    False
name          False
area          False
status        False
geometry      False
dtype: bool

In [ ]:
#Save Data
opendata_train_line.to_csv('data_trainl_clean.csv', index=False)

##Clean Data Rent

In [ ]:
opendata_med_rent.head(10)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_rent_price_sqm,day
0,1184,2021,8,กรุงเทพมหานคร,BANGKOK,คลองเตย,KHLONG TOEI,คอนโด,Condo,2781,589,2022-09-30
1,815,2020,2,กรุงเทพมหานคร,BANGKOK,ห้วยขวาง,HUAI KHWANG,คอนโด,Condo,268,457,2022-09-30
2,1282,2021,12,นนทบุรี,NONTHABURI,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,435,269,2022-09-30
3,43,2021,9,สมุทรปราการ,SAMUT PRAKAN,บางเสาธง,BANG SAO THONG,คอนโด,Condo,15,281,2022-09-30
4,1454,2019,7,กรุงเทพมหานคร,BANGKOK,วัฒนา,VADHANA,คอนโด,Condo,511,663,2022-09-30
5,1649,2020,2,กรุงเทพมหานคร,BANGKOK,บางแค,BANG KHAE,คอนโด,Condo,19,296,2022-09-30
6,744,2019,11,กรุงเทพมหานคร,BANGKOK,ทุ่งครุ,THUNG KHRU,คอนโด,Condo,12,142,2022-09-30
7,958,2021,11,กรุงเทพมหานคร,BANGKOK,พระโขนง,PHRA KHANONG,คอนโด,Condo,693,392,2022-09-30
8,857,2021,12,กรุงเทพมหานคร,BANGKOK,สวนหลวง,PHATTHANAKAN,คอนโด,Condo,58,277,2022-09-30
9,1542,2020,7,กรุงเทพมหานคร,BANGKOK,บางพลัด,BANG PHLAT,คอนโด,Condo,42,317,2022-09-30

###Select Columns

In [ ]:
opendata_med_rent.columns

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_rent_price_sqm', 'day'],
      dtype='object')

In [ ]:
data_med_rent = opendata_med_rent[['row_number',
       'listing_province_name_th','listing_district_name_th',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_rent_price_sqm']]
data_med_rent.head(10)

,row_number,listing_province_name_th,listing_district_name_th,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_rent_price_sqm
0,1184,กรุงเทพมหานคร,คลองเตย,คอนโด,Condo,2781,589
1,815,กรุงเทพมหานคร,ห้วยขวาง,คอนโด,Condo,268,457
2,1282,นนทบุรี,เมืองนนทบุรี,คอนโด,Condo,435,269
3,43,สมุทรปราการ,บางเสาธง,คอนโด,Condo,15,281
4,1454,กรุงเทพมหานคร,วัฒนา,คอนโด,Condo,511,663
5,1649,กรุงเทพมหานคร,บางแค,คอนโด,Condo,19,296
6,744,กรุงเทพมหานคร,ทุ่งครุ,คอนโด,Condo,12,142
7,958,กรุงเทพมหานคร,พระโขนง,คอนโด,Condo,693,392
8,857,กรุงเทพมหานคร,สวนหลวง,คอนโด,Condo,58,277
9,1542,กรุงเทพมหานคร,บางพลัด,คอนโด,Condo,42,317

###Missing/Null Checking

In [ ]:
data_med_rent.isnull().any() #All clean

row_number                      False
listing_province_name_th        False
listing_district_name_th        False
project_propertytype_name_th    False
project_propertytype_name_en    False
total_listing                   False
median_rent_price_sqm           False
dtype: bool

In [ ]:
#Save Data
data_med_rent.to_csv('data_rent_clean.csv', index=False)

##Clean Data Med sell

In [ ]:
opendata_med.head(10)

,row_number,transction_year,transction_month,listing_province_name_en,listing_province_name_th,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_asking_price_sqm,day
0,2188,2021,11,PATHUM THANI,ปทุมธานี,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,21,25874,2022-09-30
1,521,2019,12,BANGKOK,กรุงเทพมหานคร,จตุจักร,CHATUCHAK,คอนโด,Condo,122,78866,2022-09-30
2,245,2020,1,BANGKOK,กรุงเทพมหานคร,บางขุนเทียน,BANG KHUN THIAN,คอนโด,Condo,12,46656,2022-09-30
3,579,2022,1,BANGKOK,กรุงเทพมหานคร,วัฒนา,VADHANA,คอนโด,Condo,2893,171107,2022-09-30
4,464,2022,1,BANGKOK,กรุงเทพมหานคร,บางคอแหลม,BANG KHO LAEM,คอนโด,Condo,273,116022,2022-09-30
5,2140,2021,12,BANGKOK,กรุงเทพมหานคร,คลองสามวา,KHLONG SAM WA,บ้าน,Detached House,21,26333,2022-09-30
6,1363,2019,11,NONTHABURI,นนทบุรี,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,916,63001,2022-09-30
7,137,2019,12,BANGKOK,กรุงเทพมหานคร,ลาดพร้าว,LAT PHRAO,คอนโด,Condo,17,68151,2022-09-30
8,2145,2021,5,PATHUM THANI,ปทุมธานี,เมืองปทุมธานี,MUEANG PATHUM THANI,บ้าน,Detached House,11,24807,2022-09-30
9,1643,2022,2,BANGKOK,กรุงเทพมหานคร,คันนายาว,KHAN NA YAO,คอนโด,Condo,24,62751,2022-09-30

###Select Columns

In [ ]:
opendata_med.columns

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_en', 'listing_province_name_th',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_asking_price_sqm', 'day'],
      dtype='object')

In [ ]:
data_med = opendata_med[['row_number',
        'listing_province_name_th',
       'listing_district_name_th',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_asking_price_sqm']]

###Missing/Null Checking

In [ ]:
data_med.isnull().any() #All clean

row_number                      False
listing_province_name_th        False
listing_district_name_th        False
project_propertytype_name_th    False
project_propertytype_name_en    False
total_listing                   False
median_asking_price_sqm         False
dtype: bool

In [ ]:
data_med.to_csv("data_med_clean.csv", index=False)

#Merge tables

In [ ]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/drive') #ตรงนี้

Mounted at /content/drive

In [ ]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/My Drive/dataviz_2022/Project') #ตรงนี้
!pwd

/content/drive/My Drive/dataviz_2022/Project

###Import pd

In [ ]:
import pandas as pd
data_project_clean = pd.read_csv('data_project_clean.csv') 
data_unittype_clean = pd.read_csv('data_unittype_clean.csv') # ตารางหลัก 
data_eating_clean = pd.read_csv('data_eating_clean.csv')
data_living_clean = pd.read_csv('data_living_clean.csv')
data_nbh_clean = pd.read_csv('data_nbh_clean.csv')  # กทม ปริมณฑล
data_trains_clean = pd.read_csv('data_trains_clean.csv') # กทม ปริมณฑล
data_trainl_clean = pd.read_csv('data_trainl_clean.csv') # กทม ปริมณฑล
data_sell_clean = pd.read_csv('data_med_clean.csv') # กทม ปริมณฑล
data_rent_clean = pd.read_csv('data_rent_clean.csv') # กทม ปริมณฑล
data_sub_bkk_clean = pd.read_csv('data_sub_bkk_clean.csv') # กทม ปริมณฑล

###Merge File Project กับ Unittype

In [ ]:
data_project_clean.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security'],
      dtype='object')

In [ ]:
len(set(data_project_clean['province_id']))

72

In [ ]:
data_unittype_clean.head(5)

,row_number,unittype_id,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,2032,unittype_19988,project_7861,1 Bedroom,Condo,คอนโด,3002000.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34437,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,Detached House,บ้าน,1700000.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,29002,unittype_18897,project_6287,Studio,Condo,คอนโด,400000.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,37984,unittype_39281,project_17150,บ้านเดี่ยวชั้นเดียว,Detached House,บ้าน,2490000.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,24488,unittype_14987,project_4759,Studio Floor 5,Condo,คอนโด,367000.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data_unittype_clean.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'count_airconditioner', 'count_elevator', 'count_floor_internal',
       'count_parking', 'count_room_bath', 'count_room_bed',
       'count_room_dinning', 'count_room_guest', 'count_room_kitchen',
       'count_room_living', 'count_room_maid', 'count_room_storage',
       'count_room_utility'],
      dtype='object')

In [ ]:
data_unittype_clean = data_unittype_clean[['unittype_id', 'project_id','count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]

In [ ]:
#พบว่าชื่อ columns ซ้ำกัน
# ->count_parking # จำนวนที่จอดรถในบ้าน กับ จำนวนที่จอดรถในโครงการ
# ->count_elevator

#เปลี่ยนชื่อ columns
data_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True);
data_unittype_clean.head(3)

,unittype_id,project_id,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

####Merge File

In [ ]:
table_merge = data_project_clean.merge(data_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)
table_merge.head()

(46775, 45)

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20964.0,project_15158,เดอะ ชิลล์ วิลเลจ,Townhome,ทาวน์โฮม,2450000.0,16.209059,103.288288,Unknown,Unknown,...,2.0,2.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,21086.0,project_9490,ดีญ่า วาเล่ย์ ศรีราชา,Detached House,บ้าน,2390000.0,13.173645,100.954876,B0752,นาพร้าว,...,2.0,3.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,10281.0,project_13601,บ้านรุ่งระวี,Detached House,บ้าน,2750000.0,8.096150,98.309995,Unknown,Unknown,...,1.0,2.0,3.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
table_merge.isnull().any() #Have Nan

row_number                 False
project_id                 False
name_th                    False
propertytype_name_en       False
propertytype_name_th       False
price_min                  False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_th       False
subdistrict_id             False
subdistrict_name_th        False
district_id                False
district_name_th           False
province_name_th           False
province_id                False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_tower                False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                 True
count_airconditioner        True
count_elevator_unittype     True
count_floor_internal        True
count_parking_unittype      True
count_room_bath             True
count_room_bed              True
count_room_dinning          True
count_room_guest            True
count_room_kitchen          True
count_room_living           True
count_room_maid             True
count_room_storage          True
count_room_utility          True
dtype: bool

In [ ]:
# จำนวนชั้นในบ้าน
table_merge[['count_floor_internal']]  = table_merge[['count_floor_internal']].fillna(1) 
# จำนวนห้อง, จำนวนลิฟต์, จำนวนแอร์
table_merge[['count_airconditioner','count_elevator_unittype','count_parking_unittype','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = table_merge[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [ ]:
table_merge = table_merge.dropna(subset=['unittype_id'])

In [ ]:
table_merge[['unittype_id']]

          unittype_id
0      unittype_11765
1      unittype_13290
2      unittype_35317
3      unittype_23764
4      unittype_32076
...               ...
46770  unittype_10704
46771  unittype_10703
46772  unittype_10705
46773  unittype_20247
46774  unittype_22445

[44863 rows x 1 columns]

In [ ]:
table_merge.shape

(44863, 45)

In [ ]:
len(set(table_merge['province_id']))

71

In [ ]:
table_merge.isnull().any() #ALl Clean

row_number                 False
project_id                 False
name_th                    False
propertytype_name_en       False
propertytype_name_th       False
price_min                  False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_th       False
subdistrict_id             False
subdistrict_name_th        False
district_id                False
district_name_th           False
province_name_th           False
province_id                False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_tower                False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

###Merge Table กับ Eating

In [ ]:
data_eating_clean.columns

Index(['subdistrict_id', 'subdistrict_name_th', 'district_name_th',
       'province_id', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
# select columns
data_eating_clean = data_eating_clean[['subdistrict_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]

In [ ]:
len(set(data_eating_clean['province_id'])) #Location scope - กรุงเทพ ปริมณฑล

10

In [ ]:
len(set(table_merge['province_id']))

71

####Merge File

In [ ]:
table_merge2 = table_merge.merge(data_eating_clean, how ='left', left_on=['subdistrict_id','province_id',], right_on=['subdistrict_id','province_id',]) 
print(table_merge2.shape) #(46206, 53)

(46206, 53)

In [ ]:
table_merge2.isnull().any()

row_number                  False
project_id                  False
name_th                     False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_th        False
subdistrict_id              False
subdistrict_name_th         False
district_id                 False
district_name_th            False
province_name_th            False
province_id                 False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_tower                 False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [ ]:
table_merge2[['eating_daytime','eating_daytime_price','eating_daytime_quality','eating_daytime_variety','eating_nighttime','eating_nighttime_price','eating_nighttime_quality','eating_nighttime_variety']]  = table_merge2[['eating_daytime','eating_daytime_price','eating_daytime_quality','eating_daytime_variety','eating_nighttime','eating_nighttime_price','eating_nighttime_quality','eating_nighttime_variety']].fillna(0)

In [ ]:
table_merge2.isnull().any()

row_number                  False
project_id                  False
name_th                     False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_th        False
subdistrict_id              False
subdistrict_name_th         False
district_id                 False
district_name_th            False
province_name_th            False
province_id                 False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_tower                 False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [ ]:
print(table_merge2.shape) #(46206, 53)

(46206, 53)

###Merge Table2 กับ Living

In [ ]:
table_merge2.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
data_living_clean.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_th', 'district_id',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [ ]:
data_living_clean = data_living_clean[['subdistrict_id', 
       'district_id','province_id', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [ ]:
len(set(data_living_clean['province_id'])) #Location scope - กรุงเทพ ปริมณฑล

18

In [ ]:
len(set(table_merge2['province_id'])) #Location scope - 71

71

####Merge FIle

In [ ]:
# merge
table_merge3 = table_merge2.merge(data_living_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge3.shape)

(46206, 69)

In [ ]:
table_merge3.isnull().any()

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_public_service     True
drive_school             True
drive_shopping           True
drive_work               True
drive_total              True
Length: 69, dtype: bool

In [ ]:
table_merge3 = table_merge3.fillna(0)

In [ ]:
table_merge3.isnull().any()

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 69, dtype: bool

###Merge Table3 กับ Sub

In [ ]:
data_sub_bkk_clean.columns

Index(['row_number', 'b_subdistrict_id', 'b_subdistrict_name_th',
       'b_district_id', 'b_district_name_th', 'b_prov_id', 'b_prov_name_en',
       'b_prov_name_th', 'geometry'],
      dtype='object')

In [ ]:
data_sub_bkk_clean = data_sub_bkk_clean[['b_subdistrict_id',
       'b_district_id','b_prov_id']]

In [ ]:
data_sub_bkk_clean.rename(columns={'b_subdistrict_id': 'subdistrict_id','b_district_id': 'district_id', 'b_prov_id': 'province_id'}, inplace=True);

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
table_merge3.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

####Merge File

In [ ]:
table_merge4 = table_merge3.merge(data_sub_bkk_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
table_merge4.shape

(46206, 69)

In [ ]:
table_merge4

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
2,20964.0,project_15158,เดอะ ชิลล์ วิลเลจ,Townhome,ทาวน์โฮม,2450000.0,16.209059,103.288288,Unknown,Unknown,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21086.0,project_9490,ดีญ่า วาเล่ย์ ศรีราชา,Detached House,บ้าน,2390000.0,13.173645,100.954876,B0752,นาพร้าว,...,0.0,0.0,0.0,0.0,73.0,78.0,70.0,80.0,82.0,78.0
4,10281.0,project_13601,บ้านรุ่งระวี,Detached House,บ้าน,2750000.0,8.096150,98.309995,Unknown,Unknown,...,0.0,0.0,0.0,0.0,64.0,56.0,71.0,47.0,58.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46201,1356.0,project_3718,ภัสสร เพรสทีจ รังสิต-คลอง 2,Detached House,บ้าน,3790000.0,13.993865,100.662066,B0967,ฟิวเจอร์พาร์ค,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
46202,1356.0,project_3718,ภัสสร เพรสทีจ รังสิต-คลอง 2,Detached House,บ้าน,3790000.0,13.993865,100.662066,B0967,ฟิวเจอร์พาร์ค,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
46203,1356.0,project_3718,ภัสสร เพรสทีจ รังสิต-คลอง 2,Detached House,บ้าน,3790000.0,13.993865,100.662066,B0967,ฟิวเจอร์พาร์ค,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
46204,2095.0,project_7949,เดอะ ทรอปิคอล คอนโดมิเนียม,Condo,คอนโด,999000.0,13.707605,100.610161,B1049,อ่อนนุช,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0
46205,2095.0,project_7949,เดอะ ทรอปิคอล คอนโดมิเนียม,Condo,คอนโด,999000.0,13.707605,100.610161,B1049,อ่อนนุช,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0

In [ ]:
table_merge4.isnull().any() # ค่า Geo ว่างเพราะมีแค่พื้นที่ของ กทม ปริมณฑล

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 69, dtype: bool

In [ ]:
table_merge4 = table_merge4.fillna(0)

In [ ]:
table_merge4.isnull().any() #Clean

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 69, dtype: bool

###Merge Table 4 กับ Nbh

In [ ]:
data_nbh_clean.columns

Index(['row_number', 'nbh_id', 'nbh_name_th', 'geometry'], dtype='object')

In [ ]:
table_merge4.columns #neighborhood_id

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [ ]:
data_nbh_clean.rename(columns={'nbh_name_th': 'neighborhood_name_th','nbh_id': 'neighborhood_id'}, inplace=True);
data_nbh_clean.columns

Index(['row_number', 'neighborhood_id', 'neighborhood_name_th', 'geometry'], dtype='object')

In [ ]:
data_nbh_clean = data_nbh_clean[['neighborhood_id', 'neighborhood_name_th', 'geometry']]

####Merge File

In [ ]:
table_merge5 = table_merge4.merge(data_nbh_clean, how ='left', left_on=['neighborhood_id', 'neighborhood_name_th'], right_on=['neighborhood_id', 'neighborhood_name_th']) 
table_merge5.shape

(46206, 70)

In [ ]:
table_merge5[['neighborhood_name_th']]

      neighborhood_name_th
0                     ททบ.
1                     ททบ.
2                  Unknown
3                  นาพร้าว
4                  Unknown
...                    ...
46201        ฟิวเจอร์พาร์ค
46202        ฟิวเจอร์พาร์ค
46203        ฟิวเจอร์พาร์ค
46204              อ่อนนุช
46205              อ่อนนุช

[46206 rows x 1 columns]

In [ ]:
table_merge5.isnull().any()

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
geometry                 True
Length: 70, dtype: bool

In [ ]:
table_merge5 = table_merge5.fillna(0)

In [ ]:
table_merge5[['geometry']] # geometry แสดงย่าน

                                                geometry
0      MULTIPOLYGON(((100.551929433 13.771154902,100....
1      MULTIPOLYGON(((100.551929433 13.771154902,100....
2                                                      0
3      MULTIPOLYGON(((100.983499188 13.185900329,100....
4                                                      0
...                                                  ...
46201  MULTIPOLYGON(((100.662336829 13.97920945,100.6...
46202  MULTIPOLYGON(((100.662336829 13.97920945,100.6...
46203  MULTIPOLYGON(((100.662336829 13.97920945,100.6...
46204  MULTIPOLYGON(((100.610193982 13.7156311700001,...
46205  MULTIPOLYGON(((100.610193982 13.7156311700001,...

[46206 rows x 1 columns]

###Merge Table 5 กับ Trains

In [ ]:
data_trains_clean.head(3)

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,station_th,latitude,longitude,prov_namt,amp_namt,tam_namt
0,286,254,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,ศรีแบริ่ง,13.644190,100.636665,สมุทรปราการ,บางพลี,บางแก้ว
1,265,130,4,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีม่วง,ตลาดบางใหญ่,13.881849,100.409349,นนทบุรี,บางบัวทอง,บางรักพัฒนา
2,18,110,3,รถไฟฟ้า,เอ็มอาร์ที,MRT,ปัจจุบัน,สายสีน้ำเงิน,บางแค,13.711927,100.421581,กรุงเทพมหานคร,บางแค,บางแค

In [ ]:
data_trains_clean.columns

Index(['row_number', 'gid', 'line_no', 'railway', 'line_typt', 'line_type',
       'status', 'line_th', 'station_th', 'latitude', 'longitude', 'prov_namt',
       'amp_namt', 'tam_namt'],
      dtype='object')

In [ ]:
data_trains_clean = data_trains_clean[['line_typt','line_th','status','station_th','tam_namt','prov_namt']]

In [ ]:
data_trains_clean.rename(columns={'tam_namt': 'subdistrict_name_th','prov_namt':'province_name_th'}, inplace=True);

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
data_trains_clean.columns

Index(['line_typt', 'line_th', 'status', 'station_th', 'subdistrict_name_th',
       'province_name_th'],
      dtype='object')

###Table_merge6 = เลือกเฉพาะ กทม และ ปริมณฑล

In [ ]:
#data_project_clean.loc[data_project_clean['province_name_th']=='กรุงเทพมหานคร','นนทบุรี','นครปฐม','ปทุมธานี','สมุทรปราการ','สมุทรสาคร',]
p1 = table_merge5[table_merge5['province_name_th']=='กรุงเทพมหานคร']
p1.shape

(12621, 70)

In [ ]:
p2 = table_merge5[table_merge5['province_name_th']=='นนทบุรี']
p2.shape

(5174, 70)

In [ ]:
p3 = table_merge5[table_merge5['province_name_th']=='นครปฐม']
p3.shape

(690, 70)

In [ ]:
p4 = table_merge5[table_merge5['province_name_th']=='ปทุมธานี']
p4.shape

(2932, 70)

In [ ]:
p5 = table_merge5[table_merge5['province_name_th']=='สมุทรปราการ']
p5.shape

(2549, 70)

In [ ]:
p6 = table_merge5[table_merge5['province_name_th']=='สมุทรสาคร']
p6.shape

(822, 70)

In [ ]:
table_merge6 = pd.concat([p1,p2,p3,p4,p5,p6])
table_merge6 #'กรุงเทพมหานคร','นนทบุรี','นครปฐม','ปทุมธานี','สมุทรปราการ','สมุทรสาคร'

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,geometry
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100...."
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100...."
6,6023.0,project_12398,ทาวน์พลัส ลาดพร้าว 101,Townhome,ทาวน์โฮม,4600000.0,13.797585,100.633945,B1073,ลาดพร้าว 101,...,97.0,64.0,56.0,99.0,69.0,100.0,93.0,94.0,93.0,"MULTIPOLYGON(((100.634634415 13.820094586,100...."
13,17300.0,project_15032,แอทธินี เรสซิเด้นซ์,Condo,คอนโด,20000000.0,13.741313,100.549298,B1221,ถนนวิทยุ,...,100.0,100.0,100.0,99.0,83.0,100.0,99.0,98.0,97.0,"MULTIPOLYGON(((100.550516588 13.742800801,100...."
14,17300.0,project_15032,แอทธินี เรสซิเด้นซ์,Condo,คอนโด,20000000.0,13.741313,100.549298,B1221,ถนนวิทยุ,...,100.0,100.0,100.0,99.0,83.0,100.0,99.0,98.0,97.0,"MULTIPOLYGON(((100.550516588 13.742800801,100...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45751,4982.0,5ecf37bc292ffd0019214ea1,อัศวา ริเวอร์ไซร์ เฟส 3,Townhome,ทาวน์โฮม,1590000.0,13.562910,100.211904,B1370,ปากบ่อ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2128878 13.5746732000001,10..."
45772,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2490957 13.5374041000001,10..."
45773,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2490957 13.5374041000001,10..."
45830,6240.0,project_12740,เพชรพรสวรรค์,Townhome,ทาวน์โฮม,890000.0,13.544803,100.260559,B1339,สนามกีฬากลางสมุทรสาคร,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.268414015 13.543198047,100...."
45869,9157.0,61fb65aa1851bf00150645bc,สิริ เพลส พระราม 2-วงแหวน,Townhome,ทาวน์โฮม,2790000.0,13.584141,100.351684,B1369,คอกควาย,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.363591851 13.580968231,100...."

In [ ]:
table_merge6.isnull().any() #Clean

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
geometry                False
Length: 70, dtype: bool

In [ ]:
table_merge6[['neighborhood_name_th']] # ย่านทั้งหมดในกทม และ ปริมณฑล

        neighborhood_name_th
0                       ททบ.
1                       ททบ.
6               ลาดพร้าว 101
13                  ถนนวิทยุ
14                  ถนนวิทยุ
...                      ...
45751                 ปากบ่อ
45772            บางหญ้าแพรก
45773            บางหญ้าแพรก
45830  สนามกีฬากลางสมุทรสาคร
45869                คอกควาย

[24788 rows x 1 columns]

####Merge Table 6 กับ trainS

In [ ]:
data_trains_clean

,line_typt,line_th,status,station_th,subdistrict_name_th,province_name_th
0,เอ็มอาร์ทีเอ,สายสีเหลือง,อนาคต,ศรีแบริ่ง,บางแก้ว,สมุทรปราการ
1,เอ็มอาร์ที,สายสีม่วง,ปัจจุบัน,ตลาดบางใหญ่,บางรักพัฒนา,นนทบุรี
2,เอ็มอาร์ที,สายสีน้ำเงิน,ปัจจุบัน,บางแค,บางแค,กรุงเทพมหานคร
3,บีทีเอส,สายสีเทา,ปัจจุบัน,ลาดพร้าว-87,คลองจั่น,กรุงเทพมหานคร
4,เอ็มอาร์ที,สายสีน้ำเงิน,ปัจจุบัน,วัดมังกร,สัมพันธวงศ์,กรุงเทพมหานคร
...,...,...,...,...,...,...
313,บีทีเอส,สายสีทอง,ปัจจุบัน,สถานีคลองสาน,คลองสาน,กรุงเทพมหานคร
314,เอ็มอาร์ที,สายสีน้ำเงิน,ปัจจุบัน,สามย่าน,วังใหม่,กรุงเทพมหานคร
315,เอ็มอาร์ทีเอ,สายสีชมพู,ปัจจุบัน,ชลประทาน,บางตลาด,นนทบุรี
316,เอ็มอาร์ทีเอ,สายสีเหลือง,อนาคต,ศรีเอี่ยม,บางนาใต้,กรุงเทพมหานคร
317,บีทีเอส,สายสุขุมวิท,ปัจจุบัน,อโศก,คลองเตย,กรุงเทพมหานคร

In [ ]:
table_merge6.shape

(24788, 70)

####Merge File

In [ ]:
table_merge7 = table_merge6.merge(data_trains_clean, how ='left', left_on=['province_name_th','subdistrict_name_th'], right_on=['province_name_th','subdistrict_name_th']) 
table_merge7.shape

(45624, 74)

In [ ]:
table_merge7.head(5)

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,geometry,line_typt,line_th,status,station_th
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",บีทีเอส,สายสีฟ้า,อนาคต,ประชาสงเคราะห์
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอ็มอาร์ที,สายสีส้ม,อนาคต,ดินแดง
2,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",บีทีเอส,สายสุขุมวิท,ปัจจุบัน,สะพานควาย
3,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอสอาร์ที,สายสีแดงอ่อน,อนาคต,อนุสาวรีย์ชัยสมรภูมิ
4,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,89.0,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอ็มอาร์ที,สายสีส้ม,อนาคต,ประชาสงเคราะห์

In [ ]:
table_merge7.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'geometry', 'line_typt',
       'line_th', 'status', 'station_th'],
      dtype='object')

In [ ]:
table_merge7.isnull().any()

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
geometry                False
line_typt                True
line_th                  True
status                   True
station_th               True
Length: 74, dtype: bool

In [ ]:
table_merge7 = table_merge7.fillna(0)

In [ ]:
table_merge7.isnull().any() #Clean

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
geometry                False
line_typt               False
line_th                 False
status                  False
station_th              False
Length: 74, dtype: bool

###Merge Table 7 กับ TrainL ข้อมูลพื้นที่การเดินทางรถไฟฟ้า

In [ ]:
data_trainl_clean.columns # Name สายสีของการรถไฟฟ้า

Index(['row_number', 'name', 'area', 'status', 'geometry'], dtype='object')

In [ ]:
data_trainl_clean.shape

(49, 5)

In [ ]:
data_trainl_clean = data_trainl_clean[['name', 'area',]]

In [ ]:
data_trainl_clean.rename(columns={'name': 'line_th'}, inplace=True);

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
table_merge7.columns # line_th  สายสีของการรถไฟฟ้า

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'geometry', 'line_typt',
       'line_th', 'status', 'station_th'],
      dtype='object')

####Merge File

In [ ]:
table_merge8 = table_merge7.merge(data_trainl_clean, how ='left', left_on=['line_th'], right_on=['line_th']) 
table_merge8.shape

(106652, 75)

In [ ]:
table_merge8

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,drive_school,drive_shopping,drive_work,drive_total,geometry,line_typt,line_th,status,station_th,area
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",บีทีเอส,สายสีฟ้า,อนาคต,ประชาสงเคราะห์,ปราะชาสงเคราะห์ -ช่องนนทรี
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอ็มอาร์ที,สายสีส้ม,อนาคต,ดินแดง,บางขุนนนท์ - ดินเเดง
2,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอ็มอาร์ที,สายสีส้ม,อนาคต,ดินแดง,ดินเเดง - ลำสาลี
3,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",เอ็มอาร์ที,สายสีส้ม,อนาคต,ดินแดง,ลำสาลี - มีนบุรี
4,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,100.0,99.0,95.0,98.0,"MULTIPOLYGON(((100.551929433 13.771154902,100....",บีทีเอส,สายสุขุมวิท,ปัจจุบัน,สะพานควาย,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,4982.0,5ecf37bc292ffd0019214ea1,อัศวา ริเวอร์ไซร์ เฟส 3,Townhome,ทาวน์โฮม,1590000.0,13.562910,100.211904,B1370,ปากบ่อ,...,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2128878 13.5746732000001,10...",0,0,0,0,NaN
106648,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2490957 13.5374041000001,10...",0,0,0,0,NaN
106649,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.2490957 13.5374041000001,10...",0,0,0,0,NaN
106650,6240.0,project_12740,เพชรพรสวรรค์,Townhome,ทาวน์โฮม,890000.0,13.544803,100.260559,B1339,สนามกีฬากลางสมุทรสาคร,...,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.268414015 13.543198047,100....",0,0,0,0,NaN
106651,9157.0,61fb65aa1851bf00150645bc,สิริ เพลส พระราม 2-วงแหวน,Townhome,ทาวน์โฮม,2790000.0,13.584141,100.351684,B1369,คอกควาย,...,0.0,0.0,0.0,0.0,"MULTIPOLYGON(((100.363591851 13.580968231,100....",0,0,0,0,NaN

In [ ]:
table_merge8['area'] = table_merge8['area'].fillna('0')

In [ ]:
table_merge8.isnull().any()

row_number              False
project_id              False
name_th                 False
propertytype_name_en    False
propertytype_name_th    False
                        ...
line_typt               False
line_th                 False
status                  False
station_th              False
area                    False
Length: 75, dtype: bool

###Merge Table 8 กับ Rent+Sell

In [ ]:
data_rent_clean.head()

,row_number,listing_province_name_th,listing_district_name_th,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_rent_price_sqm
0,1184,กรุงเทพมหานคร,คลองเตย,คอนโด,Condo,2781,589
1,815,กรุงเทพมหานคร,ห้วยขวาง,คอนโด,Condo,268,457
2,1282,นนทบุรี,เมืองนนทบุรี,คอนโด,Condo,435,269
3,43,สมุทรปราการ,บางเสาธง,คอนโด,Condo,15,281
4,1454,กรุงเทพมหานคร,วัฒนา,คอนโด,Condo,511,663

In [ ]:
data_rent_clean.rename(columns={'listing_district_name_th': 'district_nameth_med','listing_province_name_th':'province_nameth_med','total_listing':'total_listing'}, inplace=True);

In [ ]:
rent1 = data_rent_clean[['district_nameth_med', 'province_nameth_med','project_propertytype_name_th', 'project_propertytype_name_en', 'total_listing','median_rent_price_sqm']]

In [ ]:
rent2 = rent1

In [ ]:
rent2.columns

Index(['district_nameth_med', 'province_nameth_med',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_rent_price_sqm'],
      dtype='object')

In [ ]:
data_sell_clean.head()

,row_number,listing_province_name_th,listing_district_name_th,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_asking_price_sqm
0,2188,ปทุมธานี,เมืองปทุมธานี,บ้าน,Detached House,21,25874
1,521,กรุงเทพมหานคร,จตุจักร,คอนโด,Condo,122,78866
2,245,กรุงเทพมหานคร,บางขุนเทียน,คอนโด,Condo,12,46656
3,579,กรุงเทพมหานคร,วัฒนา,คอนโด,Condo,2893,171107
4,464,กรุงเทพมหานคร,บางคอแหลม,คอนโด,Condo,273,116022

In [ ]:
data_sell_clean.rename(columns={'listing_district_name_th': 'district_nameth_med','listing_province_name_th':'province_nameth_med','total_listing':'total_listing'}, inplace=True);

In [ ]:
sell1 = data_sell_clean

In [ ]:
sell1.columns

Index(['row_number', 'province_nameth_med', 'district_nameth_med',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_asking_price_sqm'],
      dtype='object')

In [ ]:
sell1= sell1[['province_nameth_med', 'district_nameth_med',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'total_listing', 'median_asking_price_sqm']]

In [ ]:
data_med = sell1.merge(rent2, how ='left', left_on=['province_nameth_med','district_nameth_med','project_propertytype_name_th','project_propertytype_name_en','total_listing'], right_on=['province_nameth_med','district_nameth_med','project_propertytype_name_th','project_propertytype_name_en','total_listing']) 
data_med.shape

(2396, 7)

In [ ]:
data_med

,province_nameth_med,district_nameth_med,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_asking_price_sqm,median_rent_price_sqm
0,ปทุมธานี,เมืองปทุมธานี,บ้าน,Detached House,21,25874,NaN
1,กรุงเทพมหานคร,จตุจักร,คอนโด,Condo,122,78866,439.0
2,กรุงเทพมหานคร,บางขุนเทียน,คอนโด,Condo,12,46656,312.0
3,กรุงเทพมหานคร,วัฒนา,คอนโด,Condo,2893,171107,NaN
4,กรุงเทพมหานคร,บางคอแหลม,คอนโด,Condo,273,116022,NaN
...,...,...,...,...,...,...,...
2391,กรุงเทพมหานคร,บางกอกน้อย,คอนโด,Condo,70,105376,NaN
2392,ปทุมธานี,ลำลูกกา,บ้าน,Detached House,16,24822,NaN
2393,ปทุมธานี,ลำลูกกา,บ้าน,Detached House,15,24781,NaN
2394,กรุงเทพมหานคร,บางขุนเทียน,คอนโด,Condo,24,60622,NaN
2395,กรุงเทพมหานคร,สาทร,คอนโด,Condo,96,125836,NaN

####Merge File

In [ ]:
table_merge9 = table_merge8.join(data_med)
table_merge9 .shape #(106652, 81)

(106652, 82)

In [ ]:
table_merge9 = table_merge9 .fillna(0)

In [ ]:
table_merge9 .isnull().any()

row_number                      False
project_id                      False
name_th                         False
propertytype_name_en            False
propertytype_name_th            False
                                ...
project_propertytype_name_th    False
project_propertytype_name_en    False
total_listing                   False
median_asking_price_sqm         False
median_rent_price_sqm           False
Length: 82, dtype: bool

#Final All Clean Data

In [ ]:
table_merge9

,row_number,project_id,name_th,propertytype_name_en,propertytype_name_th,price_min,latitude,longitude,neighborhood_id,neighborhood_name_th,...,status,station_th,area,province_nameth_med,district_nameth_med,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_asking_price_sqm,median_rent_price_sqm
0,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,อนาคต,ประชาสงเคราะห์,ปราะชาสงเคราะห์ -ช่องนนทรี,ปทุมธานี,เมืองปทุมธานี,บ้าน,Detached House,21.0,25874.0,0.0
1,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,อนาคต,ดินแดง,บางขุนนนท์ - ดินเเดง,กรุงเทพมหานคร,จตุจักร,คอนโด,Condo,122.0,78866.0,439.0
2,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,อนาคต,ดินแดง,ดินเเดง - ลำสาลี,กรุงเทพมหานคร,บางขุนเทียน,คอนโด,Condo,12.0,46656.0,312.0
3,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,อนาคต,ดินแดง,ลำสาลี - มีนบุรี,กรุงเทพมหานคร,วัฒนา,คอนโด,Condo,2893.0,171107.0,0.0
4,4809.0,project_4270,พหลโยธิน ปาร์ค คอนโดมิเนียม,Condo,คอนโด,3650000.0,13.786388,100.553931,B1161,ททบ.,...,ปัจจุบัน,สะพานควาย,0,กรุงเทพมหานคร,บางคอแหลม,คอนโด,Condo,273.0,116022.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106647,4982.0,5ecf37bc292ffd0019214ea1,อัศวา ริเวอร์ไซร์ เฟส 3,Townhome,ทาวน์โฮม,1590000.0,13.562910,100.211904,B1370,ปากบ่อ,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106648,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106649,11796.0,609baa93636bb200158f2ce4,ซีเค วิลล์ 7 พระราม 2-ท่าจีน,Twin house,บ้านแฝด,1900000.0,13.523696,100.256316,B1350,บางหญ้าแพรก,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106650,6240.0,project_12740,เพชรพรสวรรค์,Townhome,ทาวน์โฮม,890000.0,13.544803,100.260559,B1339,สนามกีฬากลางสมุทรสาคร,...,0,0,0,0,0,0,0,0.0,0.0,0.0
106651,9157.0,61fb65aa1851bf00150645bc,สิริ เพลส พระราม 2-วงแหวน,Townhome,ทาวน์โฮม,2790000.0,13.584141,100.351684,B1369,คอกควาย,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [ ]:
table_merge9.columns

Index(['row_number', 'project_id', 'name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_th', 'subdistrict_id',
       'subdistrict_name_th', 'district_id', 'district_name_th',
       'province_name_th', 'province_id', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'unittype_id', 'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'geometry', 'line_typt',
       'line_th', 'status', 'station_th', 'area', 'province_nameth_med',
       'district_nameth_med', 'project_propertytype_name_th',
       'project_propertytype_name_en', 'total_listing',
       'median_asking_price_sqm', 'median_rent_price_sqm'],
      dtype='object')

In [ ]:
table_merge9.to_csv("Data_clean.csv", index=False)

# Dashborad

https://datastudio.google.com/reporting/89d980ee-5a11-4f78-a680-8b1bd0fd8c99